body{
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    margin:0;
}


header{
    display: flex;
    flex-direction: row;
    margin-top:1%;
    margin-bottom: 1%;
    height:60px;
}
header li {
    height: 60px; 
    line-height: 60px;
}
header img{
    position: absolute;
    left: 50%;
    margin-left: -75px
}


.nav_link{
    margin-left:2%;
    margin-right: 3%;
    border: 0px;
    list-style-type: none;
    font-size: 13px;
}
.nav_link_active a{
    color: #D02E42;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.nav_link_unactive a{
    color: #282828;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.nav_link_unactive a:hover{
    transition: 0.15s ease-in-out;
    color:#D02E42;
}


.slide{
    width: 100%;
}


#about_section {
    margin-bottom: 1%;
    margin-left: 1%;
}
#about_section h3{
    text-transform: uppercase;
    margin-left:2.5%;
    border-bottom: 1px solid #231f20;
    margin-top: -1%;
}
#about_section img{
    margin-right: 1%; 
    float:left;
    height:150px;
}

#about_section_small {
    margin-bottom: 1%;
    margin-left: 1%;
}
#about_section_small h3{
    text-transform: uppercase;
    margin-left:2.5%;
    border-bottom: 1px solid #231f20;
    margin-top: 2%;
}


#recordings_section {
    margin-bottom: 1%;
    margin-left: 1%;
}
#recordings_section h3{
    text-transform: uppercase;
    margin-left:2.5%;
    border-bottom: 1px solid #231f20;
    margin-top: -1%;
}
#recordings_section p{
    margin-left:4%;
}
#recordings_section img{
    margin-right: 1%; 
    float:left;
}
#recordings_playlists_div{
    display: flex;
    flex-direction: row;
    justify-content:center;
}


footer{
    display: flex;
    flex-direction: column;
    background-color: #231f20;
}
#footer_social_list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding-inline-start: 0;
}
#footer_social_div h5{
    color: white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 1%;
    margin-bottom:-1%;
}
.footer_social_icon{
    list-style-type: none;
    padding: 0;
    margin-top:0%;
    margin: 0.5%;
    margin-bottom: -1%;
}
.footer_social_icon img{
    width: 30px;
    height:auto;
}
.hover_grow { 
    transition: all .2s ease-in-out; 
}
.hover_grow:hover { 
    transform: scale(1.1); 
}
#footer_links_div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top:-2%;
    margin: auto 0;
}
.footer_link a:hover{
    transition: 0.15s ease-in-out;
    color:#D02E42;
}
.footer_link{
    list-style-type: none;
    margin:1%;
}
.footer_link a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
}
.footer_credits{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #1a1818;
}
.footer_credits a{
    text-transform: uppercase;
    font-size: 8px;
    color: white;
    margin: 0.5%;
    text-decoration: none;
    letter-spacing: 1px;
}
.footer_credits p{
    text-transform: uppercase;
    font-size: 8px;
    color: white;
    margin: 0.5%;
    text-decoration: none;
    letter-spacing: 1px;
}


#contact_form_open{
    display:none;
}
#contact_form_open form{
    color: white;
    margin: 0 auto;
    width: 25%;
    padding: 1em;
    border: 1px solid #D02E42;
}
#contact_form_open ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
#contact_form_open form li {
    margin-top: 1em;
}
#contact_form_open input, textarea {
    font: 1em sans-serif;
    width: 80%;
    box-sizing: border-box;
    border: 1px solid #999;
    margin-left: 2em;
}
#contact_form_open input:focus, textarea:focus {
    border-color: #000;
}
  
#contact_form_open textarea {
    vertical-align: top;
    height: 5em;
}
#contact_form_open button {
    margin-left: 40%
}